<!DOCTYPE html>
<html>
    <%- include("partials/head") %>
    <body>
        <a href="/"><h1>Ethical<br>Food Checker</h1></a>
        <%- include("partials/explanation") %>
        <%- include("partials/pre-filled-form") %>
        <p class="instructions">No products were found with the <%= type %> "<%= query %>". Please try again.</p>
        <script src="scripts/script.js"></script>
    </body>
</html>